site:
  title: ThoughtSpot Software Documentation
  url: https://docs.thoughtspot.com/software
  start_page: home::index.adoc
content:
  sources:
  # embedding empty credentials in the URL disables the Edit this Page link for any page created from this repository
  - url: .
    branches: HEAD
    start_path: home
  - url: git@github.com:thoughtspot/thoughtspot-docs.git
    branches: ['6.0', '6.1', '6.2', '6.3', '7.0', '7.1']
    start_path: software/
urls:
  latest_version_segment_strategy: redirect:to
  latest_version_segment: latest
  html_extension_style: drop
ui:
  bundle:
    # url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    url: ui-bundle/ui2-bundle.zip
  supplemental_files:
  - path: .nojekyll
  - path: ui.yml
    contents: "static_files: [ .nojekyll ]"
    snapshot: true
asciidoc:
  attributes:
    software: true
    cloud: false
    tabs: tabs
    support-url: https://community.thoughtspot.com/s/login/?ec=302&startURL=%2Fcustomers%2Fs%2Fcontactsupport
  extensions:
  - ./lib/asciidoctor-performance-patch.js
  - "@djencks/asciidoctor-tabset-block"
output:
  clean: true
  dir: build/
runtime:
  fetch: true
  log:
    level: error
